###
# Unity folders and files
###
/DEMO_Project/[Aa]ssets/AssetStoreTools*
/DEMO_Project/[Bb]uild/
/DEMO_Project/[Ll]ibrary/
/DEMO_Project/[Ll]ocal[Cc]ache/
/DEMO_Project/[Oo]bj/
/DEMO_Project/[Tt]emp/


/DEMO_Project/[Ll]ibrary/
# file on crash reports
sysinfo.txt
# Unity3D generated meta files
*.pidb.meta

###
# VS/MD solution and project files
###
[Ee]xportedObj/
*.booproj
*.csproj
*.sln
*.suo
*.svd
*.unityproj
*.user
*.userprefs
*.pidb
.DS_Store

###
# OS generated
###
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db